<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/Css/header.css">
    <link rel="stylesheet" href="../Assets/Css/confiteria.css">
    <link rel="stylesheet" href="../Assets/Css/footer.css">
    <link rel="icon" href="../Assets/Incons/icono.png">
    <title>Confitería</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <img src="../Assets/Incons/logoblancocinemabitVF.png" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="grid-outline"></ion-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="../index.html">
                        <img src="../Assets/Incons/Home.png" alt="home">
                        Inicio
                    </a>
                </li>

                <li class="dropdown">
                    <button class="btn btn-secondary boton" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                                   
                            <a href="#">
                                <img src="../Assets/Incons/Reproducir.png" alt="Reproducir">  
                                Categorías   
                            </a>
                        </button>
                            
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="../Views/estrenos.html">Estrenos</a>
                            <a class="dropdown-item" href="../Views/preestrenos.html">Preestrenos</a>
                            <a class="dropdown-item" href="../Views/lanzamientos.html">Lanzamientos especiales</a>
                          </div>
                          
                <li class="nav-item">
                    <a href="confiteria.html">
                        <img src="../Assets/Incons/Comida.png" alt="Comida">
                        Confitería
                    </a>
                </li>
                <li class="nav-item">
                    <a href="boletas.html">
                        <img src="../Assets/Incons/Ticket.png" alt="Boleta">
                        Boletas
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <section>
        <div class="imagenprincipal">
            <img src="../imagenes/Imag-Confiteria/fondofinalconfiteria.jpg" alt="Pide desde tu celular">
            <div class="texto">
                <h3>Ordena tu Comida a la puerta de tu Carro</h3>
                <p>Ten tu comida y bebidas listas para cuando llegues</p>
                <a href="#ordena" class="botonblanco">Ordena Aquí</a>
                
                <a href="boletas.html" class="botonrojo">Compra tus Boletas</a>
            </div>
        </div>
        <h4>Nuestros Combos para que disfrutes en tu carro</h4>
        <article>
            <div class="card-deck" id="ordena">
                <div class="card">
                    <img src="../imagenes/Imag-Confiteria/1._Combo_Renault_4.png" class="card-img-top" alt="COmbo renault">
                    <div class="card-body">
                        <h5 class="card-title">Combo Renault 4</h5>
                        <p class="card-text">1 Maíz 170 Oz y 2 Gaseosas 32 Oz.</p>
                        <p class="card-text"><small class="text-muted">Pídelo a tu carro por medio de nuestra APP</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../imagenes/Imag-Confiteria/Combo_BMW.png" class="card-img-top" alt="Combo BMW">
                    <div class="card-body">
                        <h5 class="card-title">Combo BMW</h5>
                        <p class="card-text">1 Perro Caliente y 1 Malteada 12 Oz.</p>
                        <p class="card-text"><small class="text-muted">Pídelo a tu carro por medio de nuestra APP</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../imagenes/Imag-Confiteria/Combo_Volkswagen_Escarabajo.png" class="card-img-top" alt="Combo Volkswagen">
                    <div class="card-body">
                        <h5 class="card-title">Combo Volkswagen Escarabajo</h5>
                        <p class="card-text">1 Hamburguesa, 1 Gaseosa y 1 Chocolatina.</p>
                        <p class="card-text"><small class="text-muted">Pídelo a tu carro por medio de nuestra APP</small></p>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img src="../imagenes/Imag-Confiteria/Combo_Mercedes_Benz.png" class="card-img-top" alt="Combo Mercedes">
                    <div class="card-body">
                        <h5 class="card-title">Combo Mercedes Benz</h5>
                        <p class="card-text"> 2 Gaseosas 32 Oz, 2 Perros Calientes y 1 paquete de Papas Crokante.</p>
                        <p class="card-text"><small class="text-muted">Pídelo a tu carro por medio de nuestra APP</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../imagenes/Imag-Confiteria/Combo_Ferrari.png" class="card-img-top" alt="Combo Ferrari">
                    <div class="card-body">
                        <h5 class="card-title">Combo Ferrari</h5>
                        <p class="card-text">1 Maíz 170 Oz, 2 Gaseosas 32 Oz, 1 Perro Caliente y 1 Sandwich.</p>
                        <p class="card-text"><small class="text-muted">Pídelo a tu carro por medio de nuestra APP</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../imagenes/Imag-Confiteria/Combo_Chevrolet_-_Spark.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Combo Chevrolet</h5>
                        <p class="card-text">1 Salchipeta, 1 Gaseosa 32 Oz y 1 Chocolatina Jet 12 gr.</p>
                        <p class="card-text"><small class="text-muted">Pídelo a tu carro por medio de nuestra APP</small></p>
                    </div>
                </div>
            </div>




        </article>

    </section>
    <footer>
       
        <div class="container-footer-all">
         
             <div class="container-body">
 
                 <div class="colum1">
                     <div class="logo"><img src="../Assets/Incons/cinemabitnegro.png" width="300px" height="90px" alt=""></div>
                     <h1>Descarga nuestras apps</h1>
                     <a href="https://apps.apple.com/co/app/cinemas-procinal/id991147375"><img src="../Assets/Incons/app-store.png" alt="app-store" width="180px" height="80px"></a> 
                     <a href="https://play.google.com/store/apps/details?id=com.cinepapaya.procinal&hl=es_CO"><img src="../Assets/Incons/google-play.png" alt="google-play" width="180px" height="80px"></a>
 
                 </div>
 
                 <div class="colum2">
                     <h1>Síguenos</h1>
                     <div class="roww">
                         <img src="../Assets/Incons/facebook.png">
                         <a href="https://www.facebook.com/procinal/">Facebook</a>
                     </div>
                     <div class="roww">
                        <img src="../Assets/Incons/twitter.png">
                        <a href="https://twitter.com/CineProcinal">Twitter</a>
                     </div>
                     <div class="roww">
                         <img src="../Assets/Incons/instagram.png"></a>
                         <a href="https://www.instagram.com/procinal/?hl=es-la">Instagram</a>
                     </div>
                 </div>
 
                 <div class="colum3">
 
                     <h1>Informacion Contactos</h1>
 
                     <div class="row2">
                         <img src="../Assets/Incons/house.png">
                         <label>Bogotá, 
                         Colombia</label>
                     </div>
 
                     <div class="row2">
                         <img src="../Assets/Incons/smartphone.png">
                         <label>310 1010101</label>
                     </div>
 
                     <div class="row2">
                         <img src="../Assets/Incons/contact.png">
                          <label>cinemaBit@gmail.com</label>
                     </div>
 
                 </div>
 
             </div>
         
         </div>
         
         <div class="container-footer">
                <div class="footer">
                     <div class="copyright">
                         Procinal© 2020 Todos los Derechos Reservados | Diseño y desarrollo por <a href="https://bit.institute/">CinemaBIT</a>
                     </div>
                     <div class="information">
                         <a href="">Información Empresa</a> | <a href="">Privacidad y Política</a> | <a href="">Términos y Condiciones</a>
                     </div>
                 </div>
             </div>
     </footer>

    <script src="Assets/Bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>




</body>

</html>