<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Procinal</title>
    
    <link rel="stylesheet" href="../Assets/Css/footer.css">
   
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>

   
    <footer>
       
       <div class="container-footer-all">
        
            <div class="container-body">

                <div class="colum1">
                    <div class="logo"><img src="../Assets/Incons/cinemabitnegro.png" width="300px" height="90px" alt=""></div>
                    <h1>Descarga nuestras apps</h1>
                    <a href="https://apps.apple.com/co/app/cinemas-procinal/id991147375"><img src="../Assets/Incons/app-store.png" alt="app-store" width="180px" height="80px"></a> 
                    <a href="https://play.google.com/store/apps/details?id=com.cinepapaya.procinal&hl=es_CO"><img src="../Assets/Incons/google-play.png" alt="google-play" width="180px" height="80px"></a>

                </div>

                <div class="colum2">

                    <h1>Síguenos</h1>

                    <div class="row">
                        <img src="../Assets/Incons/facebook.png">
                        <a href="https://www.facebook.com/procinal/">Facebook</a>
                    </div>
                    <div class="row">
                       <img src="../Assets/Incons/twitter.png">
                       <a href="https://twitter.com/CineProcinal">Twitter</a>
                    </div>
                    <div class="row">
                        <img src="../Assets/Incons/instagram.png"></a>
                        <a href="https://www.instagram.com/procinal/?hl=es-la">Instagram</a>
                    </div>
                    


                </div>

                <div class="colum3">

                    <h1>Informacion Contactos</h1>

                    <div class="row2">
                        <img src="../Assets/Incons/house.png">
                        <label>Bogotá, 
                        Colombia</label>
                    </div>

                    <div class="row2">
                        <img src="../Assets/Incons/smartphone.png">
                        <label>310 1010101</label>
                    </div>

                    <div class="row2">
                        <img src="../Assets/Incons/contact.png">
                         <label>cinemaBit@gmail.com</label>
                    </div>

                </div>

            </div>
        
        </div>
        
        <div class="container-footer">
               <div class="footer">
                    <div class="copyright">
                        Procinal© 2020 Todos los Derechos Reservados | Diseño y desarrollo por <a href="https://bit.institute/">CinemaBIT</a>
                    </div>

                    <div class="information">
                        <a href="">Información Empresa</a> | <a href="">Privacidad y Política</a> | <a href="">Términos y Condiciones</a>
                    </div>
                </div>

            </div>
        
    </footer>
    
</body>
</html>