nav{
   background-color: rgb(116, 116, 116);
   text-align: center;
   position: fixed;
   bottom: 0;
   right: 0;
}
nav img{
    height: 55px;
    width: 205px;
}
nav div img{
    height: 55px;
    width: 55px;
    margin:6px 10px;
}
nav div{
    margin-left: 65%;
    
}
nav a{
    color: white;
}
nav a:hover{
    color: rgb(119, 11, 35);
    text-decoration: none;
}
.nav-item{
    display: inline;
}
.boton{
    background-color: transparent;
    padding: 0px;
}
.dropdown-menu{
    color: white;
    background-color:  rgb(116, 116, 116);
}
.dropdown-menu a{
    color: white;
}
.dropdown-menu a:hover{
    color: white;
    background-color: rgb(19, 19, 19);
}
@media(max-width: 1500px){
    nav div{
        margin-left: 45%;
    }
}
@media(max-width: 1200px){
    nav div{
        margin-left: 35%;
    }
}
@media(max-width:1000px){
    nav{ 
        text-align: center;
    }
    nav div{
        margin-left: -45px;
    }
    nav div img{
        visibility: hidden;
    }
    nav li:hover {         
        
        background-color: rgb(151, 151, 151);     
    }
    nav a:hover{
        color:rgb(19, 19, 19);
    }
    .boton{
        width: 100%;
    }
    .dropdown-menu{
        width: 100%;
    }
    .dropdown-menu a{
        text-align: center;
        padding-left: 10%;
    }
}

/* Css carousel */
.carousel-item img{
    height: 500px;
    width: auto;
    margin: 0 auto;
}